<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VX4QKX0253"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VX4QKX0253');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9876722958159423"
     crossorigin="anonymous"></script>
<script async src="https://umami.kierankihn.com/script.js" data-website-id="bc1a5eef-c8f3-4836-9dc5-2f90fc23e262"></script>